<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-8 col-lg-6">
      <div class="text-center">
        <h1>Recover password</h1>
      </div>

      <%= simple_form_for @user, url: password_resets_path do |f| %>

        <%= f.input :email %>
        <div class="text-center">
          <%= f.submit 'Reset my password', class: 'btn btn-primary' %>
        </div>

      <% end %>
    </div>
  </div>
</div>
