#follower_widget_root {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  width: 300px !important;
  height: 100% !important;
  background-color: white !important;
  z-index: 9999999999 !important;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46) !important;
}

/* BUTTONS */
.follower_widget_btn {
  border: 1px solid blue !important;
}

#follower_widget_collapse_button {
  position: absolute !important;
  top: 50% !important;
  left: -23px !important;
  background-color: white !important;
  border: 1px solid #ccc !important;
}
#follower_widget_collapse_button:active {
  background-color: gray !important;
}
