<script type="text/javascript" src="<%= request.base_url %>/widget_init.js">

</script>

<div class="container">
  <h1>Another TestWidget#another_with_script</h1>
  <p>Find me in app/views/test_widget/index.html.erb</p>

  <%= link_to 'Root page', root_path %>
</div>
