<script type="text/javascript" src="<%= request.base_url %>/widget_init.js">
</script>

<h1>TestWidget#index</h1>
<p>Find me in app/views/test_widget/index.html.erb</p>

<%= link_to 'Root page', root_path %>
<br>
<%= link_to 'Another test page with script', test_widget_another_with_script_path %>

<hr>

<h1>There are test elements:</h1>

<img src="http://www.n71.ru/files/72710/p72711d275i180.jpg" alt="Cat foto">

<img src="http://subi.milliyet.com.tr/MilliyetMizah/600xMax/2010/07/09/Saskin_maymun_c3519.jpg" alt="Monkey">

<img src="https://im1-tub-ru.yandex.net/i?id=f244d3112e08f83eba7cb223841bc635-l&n=13" alt="">
