<script type="text/javascript" src="<%= request.base_url %>/widget_init.js">
</script>

<h1>TestWidget#index</h1>
<p>Find me in app/views/test_widget/index.html.erb</p>

<%= link_to 'Root page', root_path %>
<br>
<%= link_to 'Another test page with script', test_widget_another_with_script_path %>
