(function(){

  // First click variable is used to disable first click, which appears when we load function for the first time
  var modalFirstClick;
  // It lets pass values betwee modals
  var temporaryBuffer;

  /********* LOAD LOCAL JQUERY *******/
  //Init internal jQuery variable;
  var jQuery;

  //Check if needed jQuery version already loaded. If not - use our jQuery verion
  if (window.jQuery === undefined || window.jQuery.fn.jquery !== '1.7.1') {
    var script_tag = document.createElement('script');
    script_tag.setAttribute("type","text/javascript");
    script_tag.setAttribute("src",
               "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js");
    if (script_tag.readyState) {
      script_tag.onreadystatechange = function () { // For old versions of IE
        if (this.readyState == 'complete' || this.readyState == 'loaded') {
          scriptLoadHandler();
        }
      };
    } else { // Other browsers
      script_tag.onload = scriptLoadHandler;
    }
    (document.getElementsByTagName("head")[0] || document.documentElement).appendChild(script_tag);
    } else {
      jQuery = window.jQuery;
      main(); //our main JS functionality
    }

  function scriptLoadHandler() {
    jQuery = window.jQuery.noConflict(true);
    main(); //our main JS functionality
  }
  /********** END LOAD LOCAL JQUERY ******/

  /********** LOAD CSS STYLES *******/
  function loadCSS() {
    var cssId = 'follower_widget__css';
    if (!document.getElementById(cssId)) {
      var head = document.getElementsByTagName('head')[0];
      var link = document.createElement('link');
      link.id = cssId;
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = "<%= request.base_url %>/widget/css/follower_widget_styles.css";
      link.media = 'all';
      head.appendChild(link);
    }
  }
  /********** END LOAD CSS STYLES ****/

  /******* MODAL WINDOW ************/
  var widgetModal = {};

  widgetModal.init = function() {
    var overlay = document.createElement('div');
    overlay.id = "follower_widget__overlay";
    overlay.innerHTML = "";
    var modal = document.createElement('div');
    modal.id = "follower_widget__modal";
    modal.innerHTML = ""
    var header = document.createElement('h4');
    header.id = "follower_widget__modal_header";
    header.innerHTML = "";
    var content = document.createElement('div');
    content.id = "follower_widget__modal_content";
    var actions = document.createElement('div');
    actions.id = "follower_widget__modal_actions"
    var confirmButton = document.createElement('a')
    confirmButton.id = "follower_widget__modal_confirm";
    confirmButton.className = "follower_widget__button follower_widget__button_success";
    confirmButton.innerHTML = "Confirm"
    var declineButton = document.createElement('a');
    declineButton.id = "follower_widget__modal_decline";
    declineButton.className = "follower_widget__button follower_widget__button_default";
    declineButton.innerHTML = "Decline";
    var close = document.createElement('a');
    close.id = "follower_widget__modal_close";
    close.innerHTML = "&times;";

    modal.style.display = 'none';
    overlay.style.display = 'none';
    modal.append(header, content, actions, close);
    actions.append(confirmButton, declineButton);

    // Place modal in the structure
    jQuery(document).ready(function(){
      jQuery('body').append(overlay, modal)
    });

    // Close widget
    close.onclick = function(e) {
      e.preventDefault();
      if (window.confirm('You are going to terminate setup process. Are you sure?')) {
        console.log('clicked close button X');
        stopAutomaticSetup();
      };
    };
  };

  widgetModal.show = function(headerText, message, confirmButtonText, confirmButtonAction, declineButtonText, declineButtonAction) {
    modalFirstClick = true;

    var header = document.getElementById('follower_widget__modal_header');
    header.innerHTML = headerText;
    var content = document.getElementById('follower_widget__modal_content');
    content.innerHTML = "";
    content.append(message);

    var modal = jQuery('#follower_widget__modal');

    // Center modal
    var top, left;
    top = Math.max(jQuery(window).height() - modal.outerHeight(), 0) / 2;
    left = Math.max(jQuery(window).width() - modal.outerWidth(), 0) / 2;
    modal.css({
      top:top + jQuery(window).scrollTop(),
      left:left + jQuery(window).scrollLeft()
    });

    var confirmButton = document.getElementById('follower_widget__modal_confirm');
    confirmButton.innerHTML = confirmButtonText;
    confirmButton.onclick = function(e) {
      e.preventDefault();
      console.log('clicked confirm button');
      widgetModal.hide();
      confirmButtonAction();
    };

    var declineButton = document.getElementById('follower_widget__modal_decline');
    declineButton.innerHTML = declineButtonText;
    declineButton.onclick = function(e) {
      e.preventDefault();
      console.log('clicked decline button');
      widgetModal.hide();
      declineButtonAction();
    };

    // Show modal
    jQuery('#follower_widget__overlay').show();
    jQuery('#follower_widget__modal').show();
  }

  widgetModal.hide = function() {
    jQuery('#follower_widget__modal_confirm').unbind();
    jQuery('#follower_widget__modal_decline').unbind();

    jQuery('#follower_widget__modal').hide();
    jQuery('#follower_widget__overlay').hide();
    jQuery('#follower_widget__modal_content').empty();
  }
  /******* MODAL WINDOW END ********/

  /********* FOLLOWER WIDGET ELEMENTS ********/
  function widgetRootElement() {
    var newDiv = document.createElement('div');
    newDiv.id = 'follower_widget__root';
    newDiv.className = 'follower_widget__position_right follower_widget__clicking_disabled';
    newDiv.innerHTML = '';
    document.body.appendChild(newDiv);
    widgetCollapseButton();
    widgetLogo();
    widgetAutomaticSetupButton();
    widgetParams();
    logOutButton();
  }

  function widgetCollapseButton() {
    var collapseButton = document.createElement('button');
    collapseButton.id = 'follower_widget__collapse_button';
    collapseButton.innerHTML = '>';
    collapseButton.onclick = function() {
      collapseWidget();
    }
    document.getElementById('follower_widget__root').appendChild(collapseButton);
  }

  function widgetLogo() {
    var logo = document.createElement('div');
    logo.id = 'follower_widget__logo';
    logo.innerHTML = '<h4>Follower</h4>';
    document.getElementById('follower_widget__root').appendChild(logo);
  }

  function widgetAutomaticSetupButton() {
    var newButton = document.createElement('button');
    newButton.className = 'follower_widget__button follower_widget__button_center follower_widget__button_primary';
    newButton.id = 'follower_widget__automatic_setup';
    newButton.innerHTML = 'Start automatic setup';
    newButton.onclick = function() {
      manageAutomaticSetup();
    }
    document.getElementById('follower_widget__root').appendChild(newButton);
  }

  function widgetParams() {
    var paramsDiv = document.createElement('div');
    paramsDiv.id = 'follower_widget__params';
    var cartURL = document.createElement('p');
    cartURL.id = 'follower_widget__params_url'
    cartURL.innerHTML = 'URL: (not defined)';
    var itemImage = document.createElement('p');
    itemImage.id = 'follower_widget__params_item_image';
    itemImage.innerHTML = 'Item Image: (not defined)'
    paramsDiv.append(cartURL, itemImage);

    document.getElementById('follower_widget__root').appendChild(paramsDiv);
  }

  function logOutButton() {
    var newButton = document.createElement('button');
    newButton.className = 'follower_widget__button follower_widget__button_center';
    newButton.innerHTML = 'Log Out';
    newButton.id = 'follower_widget__log_out';
    newButton.onclick = function() {
      if (window.confirm('Are you sure to log out follower?')) {
        // Delete cookie and clean sent request in URL
        console.log('log out button clicked');
        logOut();
      }
    }
    document.getElementById('follower_widget__root').appendChild(newButton);
  }
  /********* END FOLLOWER WIDGET ELEMENTS*****/

  /******** FOLLOWER WIDGET FUNCTINOS *****/
  function collapseWidget() {
    var symbol = document.getElementById('follower_widget__collapse_button').innerHTML;
    if (symbol == '&gt;') {
      hideWidget();
    } else {
      showWidget();
    }
  }

  function hideWidget() {
    document.getElementById('follower_widget__root').setAttribute('style', 'right: -300px !important;');
    document.getElementById('follower_widget__collapse_button').innerHTML = '<';
  }

  function showWidget() {
    document.getElementById('follower_widget__root').setAttribute('style', 'right: 0 !important;');
    document.getElementById('follower_widget__collapse_button').innerHTML = '>';
  }

  function logOut() {
    removeCookie('hello_world_cookie');
    window.location.href = removeURLParam('hello_world', window.location.href);
  }

  function removeCookie(name) {
    document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    console.log('cookie removed');
  }

  function removeURLParam(key, sourceURL) {
    var rtn = sourceURL.split("?")[0],
      param,
      params_arr = [],
      queryString = (sourceURL.indexOf("?") !== -1) ? sourceURL.split("?")[1] : "";
    if (queryString !== "") {
      params_arr = queryString.split("&");
      for (var i = params_arr.length - 1; i >= 0; i -= 1) {
        param = params_arr[i].split("=")[0];
        if (param === key) {
          params_arr.splice(i, 1);
        }
      }
      rtn = rtn + "?" + params_arr.join("&");
    }
    return rtn;
  }

  var automaticSetupActive = false;
  function manageAutomaticSetup() {
    if (automaticSetupActive) {
      //stop automatic setup
      if (window.confirm('You are going to terminate setup process. Are you sure?')) {
        stopAutomaticSetup();
      };
    } else {
      //start automatic setup
      startAutomaticSetup();
    }
  }

  function startAutomaticSetup() {
    hideWidget();
    document.getElementById('follower_widget__automatic_setup').innerHTML = 'Stop automatic setup';
    document.getElementById('follower_widget__automatic_setup').setAttribute('style', 'background-color: red !important')
    automaticSetupActive = true;
    // Call widget function with functions as parameters
    initGetCartURL();
  }

  function stopAutomaticSetup() {
    // Disable clicking
    window.onclick = null;

    document.getElementById('follower_widget__automatic_setup').innerHTML = 'Start automatic setup';
    document.getElementById('follower_widget__automatic_setup').setAttribute('style', 'background-color: #33BDEF !important')
    showWidget();
    automaticSetupActive = false;
    widgetModal.hide();
  }

  /******* SETUP FUNCTIONS *******/
  function initGetCartURL() {
    var content = document.createElement('p');
    content.innerHTML = 'You selected automatic setup scenario. Step by step we will setup Follower.'
    var content2 = document.createElement('p');
    content2.innerHTML = 'If you are not on Cart page yet, please navigate there and add some items in your cart.'
    content.append(content2);

    widgetModal.show(
      'STEP 1',
      content,
      'I am on cart page',
      getCartURL,
      'I am not on cart page',
      stopAutomaticSetup
    );
  };

  function getCartURL() {
    var paramsURL = document.getElementById('follower_widget__params_url');
    paramsURL.innerHTML = 'URL: ' + removeURLParam('hello_world', window.location.href);
    initSelectItemImage();
  }

  function initSelectItemImage() {
    var content = document.createElement('p');
    content.innerHTML = 'Now please select an image of an item in your cart.';

    widgetModal.show(
      'STEP 2',
      content,
      'Select image',
      selectItemImage,
      'Interrupt process',
      stopAutomaticSetup
    );

  }

  function selectItemImage() {
    window.onclick = function(e) {
      if (modalFirstClick) {
        modalFirstClick = false;
      } else {
        // Can check elements only if they are not from widget
        if (e.target.id != 'follower_widget__root'
        && jQuery(e.target).parents('#follower_widget__root').length == 0)
        {
          // Disable clicking function
          window.onclick = null;

          e.preventDefault();
          var elementMouseIsOver, old_style, x, y;
          x = e.clientX;
          y = e.clientY;
          elementMouseIsOver = document.elementFromPoint(x, y);
          old_style = elementMouseIsOver.style["boxShadow"];
          elementMouseIsOver.style["boxShadow"] = "0 0 15px #EC566";
          // Display element which was clicked
          setTimeout((function() {
            var content = document.createElement('img');
            content.id = 'follower_widget__modal_image'
            content.src = elementMouseIsOver.src;
            temporaryBuffer = elementMouseIsOver.src;

            widgetModal.show(
              'Is it a correct item image?',
              content,
              'Correct',
              getItemImage,
              'Incorrect, I will try again',
              selectItemImage
            );
            elementMouseIsOver.style["boxShadow"] = old_style;
          }), 500);
        }
      }
    }
  }

  function getItemImage() {
    var itemImage = document.getElementById('follower_widget__params_item_image');
    itemImage.innerHTML = 'Image URL: ' + temporaryBuffer;
    initSelectItemTitle();
  }

  function initSelectItemTitle() {
    var content = document.createElement('p');
    content.innerHTML = 'This is it for now';

    widgetModal.show(
      'STEP 3',
      content,
      'Done',
      stopAutomaticSetup,
      'Interrupt process',
      stopAutomaticSetup
    );
  }

  function selectItemPrice() {
    //FirstClick variable is used to disable first click which appears when we load funciton first time
    var firstClick = true;
    window.onclick = function(e) {
      if (firstClick) {
        firstClick = false;
      } else {
        // can check elements only if they are not from widget
        if (e.target.id != 'follower_widget__root'
        && $(e.target).parents('#follower_widget__root').length == 0)
        {
          //checkingElements(e);
          //Disable clicking function
          window.onclick = null;

          e.preventDefault();
          var elementMouseIsOver, old_style, x, y;
          x = e.clientX;
          y = e.clientY;
          elementMouseIsOver = document.elementFromPoint(x, y);
          old_style = elementMouseIsOver.style["boxShadow"];
          elementMouseIsOver.style["boxShadow"] = "0 0 15px #EC5616";
          //Display element which was selected
          var content = document.createElement('p');
          content.innerHTML = elementMouseIsOver.innerHTML;

          setTimeout((function() {
            widgetModal.show(
              'Is this the price you selected?',
              content,
              finishAutomaticSetup,
              selectItemPrice
            );
            elementMouseIsOver.style["boxShadow"] = old_style;
          }), 500);
        }
      }
    }
  }

  function finishAutomaticSetup() {
    widgetModal.show(
      'You have finished automatic setup',
      '<h4>You fiished setup!</h4>',
      stopAutomaticSetup,
      stopAutomaticSetup
    );
  }

  /******* END FOLLOWER WIDGET FUNCTIONS ***/

  // Main jQuery functionality. here loading widget by itself
  function main() {
    jQuery(document).ready(function($) {
      // Load CSS
      loadCSS();
      widgetModal.init();
      widgetRootElement();
    });
  }

})();
