<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Add new page</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<%= simple_form_for [:workspace, @webpage], remote: true do |f| %>
<div class="modal-body">
  <div id="errors"></div>
  <%= f.input :name %>
  <%= f.input :url %>
</div>
<div class="modal-footer">
  <%= f.submit 'Save', class: 'btn btn-primary' %>
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
<% end %>
